<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

    <h1>audio test</h1>
    <h3>fetching audio stream...</h3>


    <script type="text/javascript" src="assets/js/joelray/media/controllers/AudioController.js"></script>
    <script type="text/javascript">
    // create audio controller
    var ac = new AudioController('http://localhost:3000/stream');
    ac.onConnected = _handleStreamConnected;


    function _handleStreamConnected() {
        ac.play();

        // handle clicks - toggle audio status (play/pause)
        document.addEventListener('click', function() { ac.toggle() }.bind(ac));
        document.getElementsByTagName('h3')[0].innerHTML = "Click anywhere to toggle stream";
    }

    </script>

</body>
</html>