<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

    <h1>audio test</h1>
    <h3>fetching audio stream...</h3>


    <script type="text/javascript" src="assets/js/joelray/media/controllers/AudioController.js"></script>
    <script type="text/javascript">
    // create audio controller
    var ac = new AudioController('http://localhost:3000/stream');

    // handle clicks - toggle audio status (play/pause)
    document.addEventListener('click', function() { ac.handleDocumentClick() }.bind(ac));
    </script>

</body>
</html>