<!DOCTYPE html>
<html>
<head>
	<title>WMIY Components - Play/Pause</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

    <h1>Click to toggle play status</h1>

    <div class="player">
    	<button type="button" id="button_fbw" class="btn">
    		<i class="fa fa-fast-backward"></i>
    	</button>

    	<button type="button" id="button_bw" class="btn">
    		<i class="fa fa-backward"></i>
    	</button>

    	<button type="button" id="button_play" class="btn">
    		<i class="fa fa-play"></i>
    	</button>

    	<button type="button" id="button_stop" class="btn">
    		<i class="fa fa-stop"></i>
    	</button>

    	<button type="button" id="button_fw" class="btn">
    		<i class="fa fa-forward"></i>
    	</button>

    	<button type="button" id="button_ffw" class="btn">
    		<i class="fa fa-fast-forward"></i>
    	</button>    
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    	// nothin'
    </script>

</body>
</html>