<!DOCTYPE html>
<html>
<head>
    <title>WMIY Components - Play/Pause</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

    
<div class="text-center">
    <h1>Click to toggle play status</h1>

    <div class="player">

        <button type="button" id="seek-0" class="btn seek-btn" data-seek="0">
            <span>Seek to 0</span>
        </button>


        <button type="button" id="seek-30" class="btn seek-btn" data-seek="30">
            <span>Seek to 30</span>
        </button>


        <button type="button" id="seek-120" class="btn seek-btn" data-seek="150">
            <span>Seek to 120</span>
        </button>
    </div>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../assets/js/joelray/media/audio/AudioConnectionQueueItem.js"></script>
    <script type="text/javascript" src="../../assets/js/joelray/media/controllers/AudioController.js"></script>
    <script type="text/javascript">
        
        // =========================================================
        // CONSTRUCTOR ---------------------------------------------

        var ac = new AudioController('/api/stream/');
        // ac.onConnected = _handleStreamConnected;
        // ac.onSourceEnded = _handleStreamEnded;


        $('.seek-btn').on('click', _handleSeekButtonClicked);
        $(document).on('keyup', _handleKeyUp);


        // =========================================================
        // INTERNAL INTERFACE --------------------------------------

        function _setPlayingStatus() {
            // nothin
        }



        // =========================================================
        // EVENT INTERFACE -----------------------------------------

        function _handleStreamConnected() {
            return;
            
            ac.play(150);
            _setPlayingStatus();
        }


        function _handleStreamEnded() {
            document.getElementsByTagName('h3')[0].innerHTML = "Stream has ended. Click again to start over.";
        }


        function _handleSeekButtonClicked(e) {
            var seekTo = e.currentTarget.getAttribute('data-seek');
            ac.play(seekTo);
        }

        
        function _handleKeyUp(e) {
            if(e.keyCode == 32) ac.toggle();
        }
    </script>

</body>
</html>